<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>weatherapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67EAE6D61E4D138200764E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67EAE6ED1E4D138300764E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67EAE6F81E4D138300764E88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
